.txt-rt {
    text-align: right;
}


/* text align right */

.txt-lt {
    text-align: left;
}


/* text align left */

.txt-center {
    text-align: center;
}


/* text align center */

.float-rt {
    float: right;
}


/* float right */

.float-lt {
    float: left;
}



/* horizontal menu */

img {
    max-width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto 2em;
    padding: 1.5em;
    background: #fff;
}

.clear {
    clear: both;
}

.text-center {
    text-align: center;
}

.info li {
    color: #000;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
}
